### Question 3. Trip Segmentation Count
During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened:

- Up to 1 mile
- In between 1 (exclusive) and 3 miles (inclusive),
- In between 3 (exclusive) and 7 miles (inclusive),
- In between 7 (exclusive) and 10 miles (inclusive),
- Over 10 miles

In [2]:
from sqlalchemy import create_engine
import pandas as pd

In [3]:
# Connection details
DB_USER = "postgres"
DB_PASSWORD = "postgres"
DB_HOST = "localhost"
DB_PORT = "5433"
DB_NAME = "ny_taxi"

engine = create_engine(f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

In [4]:
# SQL Query to count trips in the given date range
query = """
    SELECT 
        SUM(CASE WHEN trip_distance <= 1 THEN 1 ELSE 0 END) AS up_to_1_mile, 
        SUM(CASE WHEN trip_distance > 1 AND trip_distance <= 3 THEN 1 ELSE 0 END) AS between_1_and_3_miles,
        SUM(CASE WHEN trip_distance > 3 AND trip_distance <= 7 THEN 1 ELSE 0 END) AS between_3_and_7_miles,
        SUM(CASE WHEN trip_distance > 7 AND trip_distance <= 10 THEN 1 ELSE 0 END) AS between_7_and_10_miles,
        SUM(CASE WHEN trip_distance > 10 THEN 1 ELSE 0 END) AS over_10_miles
    FROM green_taxi_data
    WHERE lpep_pickup_datetime >= '2019-10-01 00:00:00' 
    AND lpep_pickup_datetime < '2019-11-01 00:00:00';
"""

# Execute the query and fetch results
try:
    with engine.connect() as connection:
        result = pd.read_sql(query, connection)
        print(result)
except Exception as e:
    print(f"Error: {e}")

   up_to_1_mile  between_1_and_3_miles  between_3_and_7_miles  \
0        104830                 198995                 109642

   between_7_and_10_miles  over_10_miles
0                   27686          35201