### Question 6. Largest tip
For the passengers picked up in October 2019 in the zone named "East Harlem North" which was the drop off zone that had the largest tip?

Note: it's tip , not trip

We need the name of the zone, not the ID.

In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [2]:
DB_USER = "postgres"
DB_PASSWORD = "postgres"
DB_HOST = "localhost"
DB_PORT = "5433"
DB_NAME = "ny_taxi"

engine = create_engine(f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}")

In [3]:
query = '''
    WITH 
    pickup_zone AS (
        SELECT "LocationID"
        FROM public.taxi_zone_lookup
        WHERE "Zone" = 'East Harlem North'
    )

    SELECT 
        tz_do."Zone" AS dropoff_zone, 
        gt.tip_amount
    FROM green_taxi_data gt
    JOIN pickup_zone pz ON gt."PULocationID" = pz."LocationID"
    JOIN public.taxi_zone_lookup tz_do ON gt."DOLocationID" = tz_do."LocationID"
    WHERE gt.lpep_pickup_datetime >= '2019-10-01' 
    AND gt.lpep_pickup_datetime < '2019-11-01'
    ORDER BY gt.tip_amount DESC
    LIMIT 1;
'''

# Execute the query and fetch results
try:
    with engine.connect() as connection:
        result = pd.read_sql(query, connection)
        print(result)
except Exception as e:
    print(f"Error: {e}")

  dropoff_zone  tip_amount
0  JFK Airport        87.3