In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [4]:
df_green_trip_data = pd.read_csv("./data/green_tripdata_2019-10.csv", nrows=1000)

In [6]:
df_green_trip_data

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.00
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.00
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.00
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.00
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2,2019-10-01 07:37:00,2019-10-01 08:06:40,N,1,74,186,1,6.63,24.5,0.00,0.5,5.61,0.0,NaN,0.3,33.66,1,1,2.75
996,2,2019-10-01 07:36:26,2019-10-01 08:06:43,N,1,7,65,2,8.15,27.5,0.00,0.5,5.66,0.0,NaN,0.3,33.96,1,1,0.00
997,2,2019-10-01 07:51:00,2019-10-01 07:52:30,N,1,75,74,1,0.63,4.0,0.00,0.5,0.00,0.0,NaN,0.3,4.80,2,1,0.00
998,1,2019-10-01 07:57:32,2019-10-01 08:11:12,N,1,76,222,1,1.80,10.5,0.00,0.5,0.00,0.0,NaN,0.3,11.30,1,1,0.00
999,2,2019-10-01 07:43:02,2019-10-01 07:56:32,N,1,116,24,1,2.48,11.5,0.00,0.5,2.46,0.0,NaN,0.3,14.76,1,1,0.00

In [8]:
print(pd.io.sql.get_schema(df_green_trip_data, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TEXT,
  "lpep_dropoff_datetime" TEXT,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [9]:
df_green_trip_data.lpep_pickup_datetime = pd.to_datetime(df_green_trip_data.lpep_pickup_datetime)
df_green_trip_data.lpep_dropoff_datetime = pd.to_datetime(df_green_trip_data.lpep_dropoff_datetime)

In [10]:
print(pd.io.sql.get_schema(df_green_trip_data, name='green_taxi_data'))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [20]:
from sqlalchemy import create_engine

try:
    engine = create_engine('postgresql://postgres:postgres@localhost:5433/ny_taxi')
    postgres_conn = engine.connect()
    print("Connection successful!")
    postgres_conn.close()
except Exception as e:
    print(f"Error: {e}")

Connection successful!

In [21]:
postgres_conn = engine.connect()

In [22]:
print(pd.io.sql.get_schema(df_green_trip_data, name='green_taxi_data', con=postgres_conn))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [24]:
df_green_trip_data_iter = pd.read_csv("./data/green_tripdata_2019-10.csv", iterator=True, chunksize=100000)

In [25]:
df_green_trip_data = next(df_green_trip_data_iter)

df_green_trip_data.lpep_pickup_datetime = pd.to_datetime(df_green_trip_data.lpep_pickup_datetime)
df_green_trip_data.lpep_dropoff_datetime = pd.to_datetime(df_green_trip_data.lpep_dropoff_datetime)

In [23]:
df_green_trip_data.head(0).to_sql(name='green_taxi_data', con=postgres_conn, if_exists='replace')

0

In [27]:
len(df_green_trip_data)

100000

In [26]:
df_green_trip_data.to_sql(name='green_taxi_data', con=postgres_conn, if_exists='append')

1000

In [ ]:
chunk_num = 0

while True:

    chunk_num += 1

    df_green_trip_data = next(df_green_trip_data_iter)

    df_green_trip_data.lpep_pickup_datetime = pd.to_datetime(df_green_trip_data.lpep_pickup_datetime)
    df_green_trip_data.lpep_dropoff_datetime = pd.to_datetime(df_green_trip_data.lpep_dropoff_datetime)

    df_green_trip_data.to_sql(name='green_taxi_data', con=postgres_conn, if_exists='append')

    print(f'Inserted chunk {chunk_num}')

In [48]:
df_taxi_zone_lookup = pd.read_csv("./data/taxi_zone_lookup.csv")

In [50]:
print(pd.io.sql.get_schema(df_taxi_zone_lookup, name='taxi_zone_lookup', con=postgres_conn))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [51]:
df_taxi_zone_lookup.to_sql(name='taxi_zone_lookup', con=postgres_conn)

265